

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box; 
    margin: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    background-color: #4b73b5;
    width: 100%;
}

.container {
    width: 1100px;
    display: flex;
    margin: 0 auto;
}



.header__container {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__phone{
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.contacts__graph{
    color: #d4dbea;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-decoration: underline;
}
/*Боковое меню*/

.sidebar{
    width: 200px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: top;
}

.main__content{
    display: inline-block;
    vertical-align: top;
    width: 890px;
}

.menu__list{
    list-style: none;
    padding: 0px;
}

.menu__link{
    text-decoration: none;
    color: #4b73b5;
    font-size: 12px;
    font-weight: 700;
    line-height: 4.5em;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}


.menu__link:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 18px;
    background: center center / contain no-repeat;
    vertical-align: middle;
    margin-right: 18px;
}

.menu__link--active{
    color: #221f1f;
}

.menu__link--icon--main:before {
    background-image: url(icon/main_icon.png);
}

.menu__link--icon--fead:before {
    background-image: url(icon/feed_icon.png);
}

.menu__link--icon--team:before {
    background-image: url(icon/team_icon.png);
}


.main-pictures__pictures{
    max-width: 100%;
    max-height: 100%;
}

.features__title-title {
    color: #221f1f;
    font-size: 49px;
    font-weight: bold;
    margin-top: 15px;
}

.features__list {
    display: flex;
    margin-top: 27px;
    padding-left: 0;
}

.features__desc-list{
    text-align: left;
    list-style: none;
}

.features__desc-item:before{
    content:'';
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #212121;
    vertical-align: middle;
    margin-right: 21px;
}

.features__desc-item{
    margin-bottom: 9px;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    text-align: center;
    padding: 40px 35px 40px 25px;
    border: 1px solid transparent;
    font-weight: 300;
}

.features__desc-text,
.features__desc-item {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.42em;
    margin-top: 11px;
}

.features__desc-text {
   
    
}

.features__item:last-child{
    margin-right: 0;
}

.features__item--active{
    border-color: #e8e9ed;
    border-radius: 10px;
}

.features__desc-title {
    color: #212121;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin-top: 32px;
}

  
.title{
    color: #212121;
    font-size: 49px;
    font-weight: 700;
    letter-spacing: 2.88px;
}
.features__title {
    margin-top: 35px;
}

/* Image*/

.features__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #4b73b5;
    border-radius: 50%
}

.feactures__price {
    color: #212121;
    font-size: 54px;
    font-weight: 400;
    margin-top: 35px;
}

.feactures__price span {
    font-size: 30px;
}

.news__list {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.news__item {
    display: flex;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 2px solid #e8e9ed;
}

.news__item:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}

.block-content__img{
    height: 160px;
    width: 160px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 20px;
}

.news__icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.news__desc {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-content__date {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3px;
}

.news__name {
    font-weight: bold;
    line-height: 21px;
    font-size: 20px;
    margin-bottom: 4px;
}

.news__text {
    font-weight: lighter;
    line-height: 1.42em;
    font-size: 20px;
}



.pagination {
    text-align: center;
    margin-top: 58px;
}

.pagination__display,
.pagination__pager {
    display: inline-block;
}

.pagination__display {
    margin-right: 23px;
    font-weight: lighter;
    font-size: 14px;
}

.pagination__list {
    display: inline-block;
    list-style: none;
    padding: 0px;
}

.pagination__item {
    display: inline-block;
    margin-right: 12px;
}

.pagination__button-prev {
    margin-right: 18px;
}

.pagination__item--active {
    border-radius: 5px;
    background-color: #4b75be;
    color: rgb(248, 238, 238);
    padding: 4px 10px;
}

.pagination__link:hover{
    color: #2177c7;
    
}

.pagination__link,
.pagination__button-prev,
.pagination__button-next {
    text-decoration: none;
}

.footer {
    background-color: #4b73b5;
    margin-top: 64px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.footer__container {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    width: 236px;
    color: #fff;
}

.footer__text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42em;
}

.footer__text a {
    font-family: "Roboto - Bold";
    font-weight: 700;
    color: #fff;
}

.footer__text b {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.socials {
    width: 165px;
}

.socials__title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.socials__list {
    margin: 0px;
    margin-top: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.socials__box-footer {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__box-footer:hover{
    background: #d4dbea;
}
